.click {
    font-size: 30px;
    color: white;
    width: 150px 50px;
    border: 2px solid #bdbdbb;
    background: black;
}

.clickii {
    font-size: 30px;
    color: black;
    width: 150px 50px;
    border: 2px solid #bdbdbb;
    background: #fbfb04;
}