* {
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
   
  
}

.image {
    width: 95px;
    height: auto:
    
}

.one {
    width: 74px;
    height:auto;
}

.two {
    width: 42.5px;
    height: 95px;
}